#card{
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border:0.5px solid black;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 2px 2px 3px #888888;
    transition:980ms;
}
#card:hover{
    transform: scale(1.1);
}