#main-nav{

}
#sub-nav{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4em;
}
#sub-nav-li{
    font-family: 'Saira Condensed', sans-serif;
    list-style: none;
    padding: 10px 5px;
    color: white;
    font-size: 20px;
    font-weight: bold
}
#sub-nav-li:hover{
  color:  black;
  cursor: pointer;
  text-decoration: underline;
}