#aboutus-container{
    background: url("../Asset/abousimage.jfif");
    background-size: cover;
    text-align: center;
    width: 80% ;
    margin-left: 10%;
    border-radius: 10px;
    color:white;
    font-weight: 500;
    font-size: 20px;
    padding:1px;
    margin-top: 130px;
    margin-bottom: 40px;
}
.aboutus-subpart{
    margin: 90px;
}
.termsandconditions{
    margin-top: 110px;
    padding:6rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    text-align: justify;
}
@media screen and (max-width: 520px) {
    .termsandconditions{
        padding-left:2rem;
        padding-right: 2rem;
        /* padding-top: 2rem; */
    }
}